.productList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 0;
  padding: 52px 0;
}

.productListItem {
  display: flex;
}

@media screen and (max-width: 768px) {

  .productList {
    padding: 0 25px;
    gap: 20px
  }
}
