.wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  padding: 50px;
}

.aboutTitle {
  margin-top: 50px;
  margin-bottom: 60px;
  width: 100%;
}

.aboutDescription {
  flex-grow: 1;
  width: calc(100% - 600px);
}

.imageWrap {
  max-width: 500px;
}

.img {
  width: 100%;
  border-radius: 40px;
}

@media screen and (max-width: 736px) {

  .aboutDescription {
    order: 2;
  }

  .aboutDescription p {
    font-size: 16px;
    line-height: 20px
  }

  .aboutTitle {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 27px;
    order: 1;
  }

  .imageWrap {
    order: 0;
  }

  .img {
    border-radius: 30px;
  }
}
