.footer {
  text-align: center;
  padding: 50px;
}

.divider {
  border-top: 1px solid #333;
  margin: 20px;
}

.footerIcons {
  height: 35px;
  padding-top: 20px;
}

.footerIconLink {
  margin: 20px;
}

.reactIntro {
  color: #EF4934;
  font-weight: 400;
  text-decoration: none;
}

.footerSign {
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 20px;
}

@media screen and (max-width: 736px) {

  .footer {
    padding-top: 0;
  }

  .footerSign {
    font-size: 16px;
    line-height: 20px;
  }
}
