:root {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, .87);
  background-color: var(--bg-color-light);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-color-light: #111;
  --text-color-dark: #FFF;
  --bg-color-light: #FFF;
  --bg-color-dark: #111;
  --input-text-color-light: #656565;
  --input-text-color-dark: #FFF;
  --border-color-light: #E1E1E1;
  --border-color-dark: #656565;
  --dropdown-color-light: #FFF;
  --dropdown-color-dark: #333;
}

.light-theme {
  --text-color: var(--text-color-light);
  --bg-color: var(--bg-color-light);
  --input-text-color: var(--input-text-color-light);
  --border-color: var(--border-color-light);
  --dropdown-color: var(--dropdown-color-light);
}

.dark-theme {
  --text-color: var(--text-color-dark);
  --bg-color: var(--bg-color-dark);
  --input-text-color: var(--input-text-color-dark);
  --border-color: var(--border-color-dark);
  --dropdown-color: var(--dropdown-color-dark);
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: underline;
}

a:hover {
  color: #535BF2;
}

body {
  margin: 0;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--bg-color-dark);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--text-color);
}

p {
  font-size: 22px;
  color: var(--text-color);
  margin-top: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: .6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1A1A1A;
  cursor: pointer;
  transition: border-color .25s;
}

button:focus,
button:focus-visible {
  outline: none;
}


@media screen and (max-width: 768px) {

  body {
    padding: 0 30px;
  }
}

@media (prefers-color-scheme: light) {

  :root {
    color: #213547;
    background-color: var(--bg-color-light);
  }

  a:hover {
    color: #747BFF;
  }

  button {
    background-color: #F9F9F9;
  }
}
